In [2]:
import pandas as pd
import pingouin as pg
import scikit_posthocs as sp
import numpy as np

In [3]:
data = "C://Users//eli//Desktop//PlantGrowth.csv"
df = pd.read_csv(data, index_col=0)
df

    weight group
1     4.17  ctrl
2     5.58  ctrl
3     5.18  ctrl
4     6.11  ctrl
5     4.50  ctrl
6     4.61  ctrl
7     5.17  ctrl
8     4.53  ctrl
9     5.33  ctrl
10    5.14  ctrl
11    4.81  trt1
12    4.17  trt1
13    4.41  trt1
14    3.59  trt1
15    5.87  trt1
16    3.83  trt1
17    6.03  trt1
18    4.89  trt1
19    4.32  trt1
20    4.69  trt1
21    6.31  trt2
22    5.12  trt2
23    5.54  trt2
24    5.50  trt2
25    5.37  trt2
26    5.29  trt2
27    4.92  trt2
28    6.15  trt2
29    5.80  trt2
30    5.26  trt2

## Assumptions for ANOVA - normality (Shapiro-Wilk test) and homogeneity of variances (Bartlet, Levene, Brown-Forsythe Tests).

In [12]:
anova = pg.anova(data=df, dv='weight', between='group', detailed=True, effsize='np2')
anova

   Source        SS  DF        MS         F    p-unc       np2
0   group   3.76634   2  1.883170  4.846088  0.01591  0.264148
1  Within  10.49209  27  0.388596       NaN      NaN       NaN

## As can be seen in the ANOVA table above, we get the degrees of freedom, the mean square error, F- and p-values, as well as the partial eta squared when using pingouin.

## η2 = 0.01 indicates a small effect; η2 = 0.06 indicates a medium effect; η2 = 0.14 indicates a large effect.

## Tukey Post-Hoc

In [4]:
pg.pairwise_tukey(dv="weight", between="group", data=df)

      A     B  mean(A)  mean(B)   diff        se         T   p-tukey    hedges
0  ctrl  trt1    5.032    4.661  0.371  0.278782  1.330791  0.390871  0.570001
1  ctrl  trt2    5.032    5.526 -0.494  0.278782 -1.771996  0.197996 -0.758977
2  trt1  trt2    4.661    5.526 -0.865  0.278782 -3.102787  0.012006 -1.328977

## Holm Post-Hoc test

In [5]:
sp.posthoc_ttest(df, group_col = "group", val_col = "weight", p_adjust = 'holm')

          ctrl      trt1      trt2
ctrl  1.000000  0.249023  0.093703
trt1  0.249023  1.000000  0.022555
trt2  0.093703  0.022555  1.000000

## Dunnet Post-Hoc test

In [6]:
n_in_one_group = 10
MS_within = 0.388596
Dunnet_critical = 2.57 * np.sqrt(2 * MS_within / n_in_one_group)
Dunnet_critical

0.7164688018888191

In [7]:
mean_diff_trt1_abs = 0.371
mean_diff_trt2_abs = 0.494

Conclusion: The mean differences are less than Dunnet_critical -> Fail to Reject the NULL Hypothesis. 
There is not enough evidence to canclude that the treatments are effective.