In [1]:
import numpy as np
import pandas as pd

In [3]:
list_ = ['Elena', 'George', 'Steven']
list_

['Elena', 'George', 'Steven']

In [4]:
type(list_)

list

In [6]:
first_el = list_[0]
first_el

'Elena'

In [7]:
array = np.array(list_)
array

array(['Elena', 'George', 'Steven'], dtype='<U6')

In [15]:
array_second = np.arange(1,4)
array_second

array([1, 2, 3])

In [16]:
type(array_second)

numpy.ndarray

In [17]:
array_second[0]

1

In [18]:
series = pd.Series(array_second)
series

0    1
1    2
2    3
dtype: int32

In [19]:
series[0]

1

In [21]:
series_second = pd.Series(data = list_, index = array_second)
series_second

1     Elena
2    George
3    Steven
dtype: object

In [26]:
series_second[1]

'Elena'

In [28]:
type(series_second)

pandas.core.series.Series

In [32]:
columns = ['Col1', 'Col2', 'Col3']

In [35]:
rows = ['Row1', 'Row2', 'Row3']

In [51]:
data_ = ['G', 'F', 'F', 'H','G', 'F', 'F', 'H', 'K']
data = np.array(data_)
data = data.reshape(3,3)
data

array([['G', 'F', 'F'],
       ['H', 'G', 'F'],
       ['F', 'H', 'K']], dtype='<U1')

In [52]:
df = pd.DataFrame(data = data, index = rows, columns = columns )
df

     Col1 Col2 Col3
Row1    G    F    F
Row2    H    G    F
Row3    F    H    K

In [53]:
pd.DataFrame({'A': [1,2,3], 'B': [4,5,6]}, index = ['first', 'second', 'third'])

        A  B
first   1  4
second  2  5
third   3  6